{% comment %} Barra de Navegacion {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} - PapelesINC{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

<style>
#cart-total{
  background-color:#dc3545;
  color:#fff;
  height:25px;
  width:25px;
  display:inline-block;
  text-align:center;
  border-radius:30px;
  margin-left:-3px;
  margin-bottom:25px;
  font-size:18px;
  
}
</style>
{% block style %}{% endblock style %}
</head>
<body>

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'usuario:index' %}">
      <img src=" {% static 'imgs/logo.png' %} " alt="" height="40" class="d-inline-block align-text-bottom">
      PapelesINC
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'usuario:index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usuario:about' %}">Quiénes Somos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for categoria in categorias  %}
            <li><a class="dropdown-item" href="{% url 'usuario:categoria' categoria.id %}">
            {{categoria.nombre}}
            </a></li>
            {% endfor %}
          </ul>
        </li>
        <form class="d-flex">
          <input class="form-control me-2 ms-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Buscar</button>
        </form>
      </ul>

      {% if request.user.is_authenticated %}
        <a href='{% url "usuario:cart" %}'>
          <img src="{% static 'imgs/cart.svg' %}" style="height:38px;" class="me-1">
        </a>
        <p id="cart-total" class="me-3">
        {% for order in current_orders  %}
          {% if order.perfil == request.user.perfil and order.orden_completada == False%}
            {{order.get_cart_items_quantity}}
          {% endif %}
        {% endfor %}
        </p>
        <a class='btn btn-outline-warning me-2' href='{% url "usuario:profile" %}'>
        <img src="{% static 'imgs/profile.svg' %}" alt="" srcset="" style="height:25px;">
        {{request.user.username}}
        </a>
        <a class=' btn btn-outline-danger ms-2 me-2' href='{% url "usuario:logout" %}'>Cerrar Sesion</a>  
      {% else %}
        <a class='nav-item btn btn-warning me-3' href='{% url "usuario:register" %}'>Registrarse</a>
        <a class='nav-item btn btn-light me-2' href='{% url "usuario:login" %}'>Iniciar Sesion</a>
      {% endif %}




    </div>
  </div>
</nav>

{% block content %}{% endblock content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>